<h1>Cliente</h1>

    Nome:
    <br><input type=text id=nome name=nome ><br>
    Cpf:
    <br><input type=text id=cpf name=cpf><br>
    <input type=submit value=OK id=ok>
    <input type=reset value=cancelar>